<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>班别</th>
                <th>班组</th>
                <th>机种</th>
                <th>基板</th>
                <th>Lot</th>
                <th>小分Lot</th>
                <th>面</th>
                <th>计划数</th>
                <th>前日累计</th>
                <th>实绩数</th>
                <th>当日累计</th>
                <th>偿却</th>
                <th>擦除枚数</th>
                <th>备注</th>
            </tr>
        </thead>
        <tbody *ngFor="let daily of dailyInfoes">
            <tr *ngFor="let plan of daily.pspPlanInfoes; let first=first">
                <td [attr.rowspan]="daily.pspPlanInfoes.length" *ngIf="first">{{daily.pspShiftDict.shift}}</td>
                <td [attr.rowspan]="daily.pspPlanInfoes.length" *ngIf="first">{{daily.pspShiftGroupDict.shiftGroup}}</td>
                <td>{{plan.kishname}}</td>
                <td>{{plan.kibaname}}</td>
                <td>{{plan.lot}}</td>
                <td>{{plan.sLot}}</td>
                <td>{{plan.koutei}}</td>
                <td>{{formatSLotUncomp(plan.sLotUncomp, plan.append)}}</td>
                <td>{{plan.lotComp}}</td>
                <td>{{plan.shiftComp}}</td>
                <td>{{plan.lotCompAfter}}</td>
                <td>{{plan.joc}}</td>
                <td>{{plan.cleanCount}}</td>
                <td>{{plan.remark}}</td>
            </tr>
        </tbody>
    </table>
</div>