/*tool*/
.tl-row {
    clear: both;
    overflow: hidden;
}

.tl-row > div {
    float: left;
}
/*main*/
.timeline .left {
    float: left;
}
.timeline .right-wrapper {
    width: auto;
    overflow-x: auto;
}

.timeline .right {
    /*width: 2000px;*/
    margin-bottom: 8px;
}

.timeline .cell {
    width: 80px;
    text-align: left;
    padding: 8px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    margin-right: -1px;
    margin-bottom: -1px;
}

.timeline .col-group {
    /*margin-right: -3px;*/
    border-bottom: 1px solid #DDD;
    /*margin-right: 3px;*/
}

.timeline .col-group-even {
    background-color: #F7F7F7;
}

.timeline .row-header {
    font-weight: bold;
}

.timeline .title {
    width: auto;
    border-top: 0;
    /*text-align: center;*/
    font-weight: bold;
}

.timeline .title-pad {
    border-top: 0;
}

.timeline .hours {
    border-bottom: 1px solid #DDD;
}

.timeline .hours-pad {
    border-top: solid 1px #FFF;
    border-bottom: 2px solid #DDD;
}

.timeline .grid-row {
    position: relative;
    width: 100%;
}

.timeline .item {
    position: absolute;
    top: 50%;
    height: 50%;
    transform: translateY(-50%);
    /*background-color: #DDD;*/
    /*background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);*/
    /*background-size: 40px 40px;*/
    /*border-radius: 2px;*/
}

/*item*/

.timeline .item0 {
    background-color: #FF6C5C;
}

.timeline .item1 {
    background-color: #BBB;
    /*background-color: #FFF;*/
}

.timeline .item2 {
    border: 3px solid #FF6C5C;
}

.timeline .item3 {
    border: 3px solid #BBB;
    /*background-color: #FFF;*/
}

span.small {
    font-weight: normal;
    color: #777;
    margin-left: 1em;
}

