<div class="timeline2">
    <div class="left">
        <div class="title-pad cell">&nbsp;</div>
        <div class="hours-pad cell">&nbsp;</div>
        <div class="row-header cell" *ngFor="let s of states">{{s}}</div>
    </div>
    <div class="right">
        <div class="right-inner">
            <div class="title cell">
                {{daily.date.format("MM月DD日")}} {{daily.pspShiftDict.shift}}班<span class="small">确认：{{daily.confirming}}</span>
            </div>
            <div class="hours">
                <div class="hour cell" *ngFor="let hour of getHours(daily)">{{hour}}</div>
            </div>
            <div class="grid-row cell" *ngFor="let s of states; let index=index">
                &nbsp;
                <div class="item"
                     *ngFor="let item of filterState(daily.pspTimeLines, index)"
                     [style.left.%]="getItemRect(item, daily).left"
                     [style.width.%]="getItemRect(item, daily).width"
                     [ngClass]="'item'+index"
                     timeline-popover="
                         线体：{{item.line}}<br />
                         状态：{{s}}<br />
                         时间：{{item.startTime.format('HH:mm')}} ~ {{item.endTime.format('HH:mm')}}<br />
                         时长：{{getDurationStr(item.startTime, item.endTime)}}<br />
                         操作：{{daily.operator}}<br />
                         备注：{{item.dismension?item.dismension.slice(2):'无'}}"
                     >
                </div>
            </div>
        </div>
    </div>
</div>