<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>日期</th>
                <th>总时间</th>
                <th>无计划</th>
                <th>切替</th>
                <th>VR切替</th>
                <th>切替等待</th>
                <th>定数</th>
                <th>炉温上升</th>
                <th>清扫早礼</th>
                <th>喷嘴保养</th>
                <th>炉温等待</th>
                <th>检查仪修正</th>
                <th>制造保养</th>
                <th>试作</th>
                <th>修理等待</th>
                <th>品质故障</th>
                <th>CF异常</th>
                <th>前工程等待</th>
                <th>部品等待</th>
                <th>部品分割等待</th>
                <th>VR等待</th>
                <th>操作员等待</th>
                <th>基板等待</th>
                <th>其它</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stat of stats;let i=index">
                <th *ngIf="mode=='MonthByDay'">{{i + 1}}日</th>
                <th *ngIf="mode=='MonthByWeek'">第{{i + 1}}周</th>
                <th *ngIf="mode=='YearByMonth'">{{i <= 8?i + 4:i - 8}}月</th>
                <td>{{stat.detail.totalTime}}</td>
                <td>{{stat.detail.noPlan}}</td>
                <td>{{stat.detail.change}}</td>
                <td>{{stat.detail.vrChange}}</td>
                <td>{{stat.detail.changeWaiting}}</td>
                <td>{{stat.detail.acceptance}}</td>
                <td>{{stat.detail.reflowTempRise}}</td>
                <td>{{stat.detail.morning}}</td>
                <td>{{stat.detail.nozzleMaintainance}}</td>
                <td>{{stat.detail.reflowTempWaiting}}</td>
                <td>{{stat.detail.instrucmentCorrection}}</td>
                <td>{{stat.detail.machineMaintainance}}</td>
                <td>{{stat.detail.trial}}</td>
                <td>{{stat.detail.repairWaiting}}</td>
                <td>{{stat.detail.qualityIssue}}</td>
                <td>{{stat.detail.cfFault}}</td>
                <td>{{stat.detail.preStepWaiting}}</td>
                <td>{{stat.detail.partWaiting}}</td>
                <td>{{stat.detail.partSplitWaiting}}</td>
                <td>{{stat.detail.vrWaiting}}</td>
                <td>{{stat.detail.operatorWaiting}}</td>
                <td>{{stat.detail.boardWaiting}}</td>
                <td>{{stat.detail.others}}</td>
            </tr>
        </tbody>
    </table>
</div>