<div class="page-container">
    <div class="stat-search row">
        <form class="col-xs-12" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label class="control-label">汇总方式</label>
                <mode-selector [(mode)]="mode"></mode-selector>
            </div>      
            <div class="form-group">
                <label class="control-label" for="">时间范围</label>
                <date-picker [dateFormat]="getDateFormat(mode)" [(date)]="date"></date-picker>
            </div>
            <div class="form-group">
                <label class="control-label" for="">线体</label>
                <line-selector [(selected)]="lines"></line-selector>
            </div>
            <div class="form-group">
                <label class="control-label">选项</label>
                <br />
                <label class="checkbox-inline">
                    <input type="checkbox" [(ngModel)]="lineCombination" name="lineCombination" /> 汇总线体
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" [(ngModel)]="detailDisplay" name="detailDisplay" /> 详细信息
                </label>
            </div>
            <button 
                    type="submit" 
                    class="btn btn-default pull-right" 
                    [disabled]="!(mode && lines && date)"
                    data-loading-text="查询中...">
                提交
            </button>
        </form>
        <div *ngIf="false">
            <div>{{mode}}</div>
            <div>{{date?.format('YYYY年MM月DD日')}}</div>
            <div>{{lines}}</div>
            <div>{{lineCombination}}</div>
            <div>{{detailDisplay}}</div>
        </div>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="errMsg">{{errMsg}}</div>
    <div class="stat-result">
        <div *ngFor="let rline of rlines">
            <div *ngIf="statistics[rline]">
                <div class="page-header">
                    <h3>{{rdate?.format(getDateFormat(rmode))}} <small>线体： {{rline}}</small></h3>
                </div>
                <statistic-info [mode]="rmode" [stats]="statistics[rline]"></statistic-info>
                <div *ngIf="rdetailDisplay">
                    <div class="page-header">
                        <h3>详细信息</h3>
                    </div>
                    <statistic-info-detail [mode]="rmode" [stats]="statistics[rline]"></statistic-info-detail>
                </div>
            </div>
        </div>
    </div>
</div>
