<div class="view-search row">
    <form class="col-xs-12" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>线体</label>
            <line-selector [(selected)]="lines"></line-selector>
        </div>
        <div class="form-group">
            <label class="control-label">作业日</label>
            <date-picker [dateFormat]="'YYYY年MM月DD日'" [(date)]="date"></date-picker>
        </div>
        <div class="form-group">
            <label class="control-label">显示</label>
            <br />
            <label class="checkbox-inline">
                <input type="checkbox" [(ngModel)]="showPlan" /> 计划
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" [(ngModel)]="showTimeLine" /> 时间轴
            </label>
        </div>
        <button type="submit"
                class="btn btn-default pull-right"
                data-loading-text="查询中..."
                [disabled]="!(date && lines.length)">
            提交
        </button>
    </form>
</div>

<div class="page-container" *ngIf="showResult">
    <div class="alert alert-danger" role="alert" *ngIf="errMsg">{{errMsg}}</div>
    <div class="view-result" *ngFor="let l of rlines">
        <div class="alert alert-info" role="alert" *ngIf="!(dailyInfoes[l]?.length)&&!errMsg">所查询的{{l}}号线作业日报不存在</div>
        <div *ngIf="dailyInfoes[l]?.length">
            <div *ngIf="rshowPlan">
                <div class="page-header">
                    <h3>计划 <small>{{l}}号线</small></h3>
                </div>
                <plan-table [dailyInfoes]="dailyInfoes[l]"></plan-table>
            </div>
            <div *ngIf="rshowTimeLine">
                <div class="page-header">
                    <h3>时间轴 <small>{{l}}号线</small></h3>
                </div>
                <timeline2-chart *ngFor="let shift of dailyInfoes[l]" [daily]="shift" [states]="states"></timeline2-chart>
            </div>
        </div>
    </div>
</div>
