body {
    overflow-x: hidden;
    font-family: Arial, Microsoft YaHei;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 24px;
}

button, input, a {
    outline: none!important;
}

/*.dropdown-menu>.active>a {
    background-color: #ED6B5C;
}*/

::selection {
    background-color: #ED6B5C;
    color:white;
}

/* multi select */
.btn-group button {
    text-align: left;
}
.btn-group .caret {
    display: none;
}
.btn-group .dropdown-menu {
    width: 100%;
}

/* timeline popover */
.popover {
    font-family: Arial, Microsoft YaHei;
    color: #555;
}
.popover .arrow {
    display: none;
}

.popover-title {
    background-color: #E86254;
    color: white;
}
.popover .glyphicon {
    margin-right: 1em;
}