@{
    ViewBag.Title = "作业日报管理";
}

@section css {
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
}

@section js {
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
}

<my-app>
    <div id="loading">加载中...</div>
</my-app>
