@{
    ViewBag.Title = "作业日报管理";
}

@section css {
    <script src="~/js/css.js"></script>
}

@section js {
    <script src="~/js/vendor.js"></script>
    <script src="~/js/app.js"></script>
}

<my-app>
    <div id="loading">加载中...</div>
</my-app>
