<div class="view-search row">
    <form class="col-xs-12" (ngSubmit)="onSubmit()" #searchForm="ngForm">
        <div class="form-group">
            <label>线体</label>
            <select class="form-control"
                    ngControl="line"
                    required
                    [(ngModel)]="line"
                    (change)="line=$event.target.value">
                <option *ngFor="#l of lines" [value]="l">{{l}}</option>
            </select>

        </div>
        <div class="form-group">
            <label class="control-label" for="">作业日</label>
            <div class='input-group date' id='datetimepicker1'>
                <input type='text'
                       class="form-control"
                       ngControl="date"
                       required
                       pattern="^\\d{4}年\\d{2}月\\d{2}日$"
                       [(ngModel)]="date" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <button type="submit" class="btn btn-default pull-right" data-loading-text="查询中..." [disabled]="!searchForm.valid">提交</button>
    </form>
</div>

<div class="page-container" *ngIf="showResult">
    <div class="alert alert-danger" role="alert" *ngIf="errMsg">{{errMsg}}</div>
    <div class="alert alert-info" role="alert" *ngIf="!dailyInfoes.length&&!errMsg">所查询的作业日报不存在</div>
    <div class="view-result" *ngIf="dailyInfoes.length">
        <div class="page-header">
            <h3>计划 <small>{{dailyInfoes[0].line}}号线</small></h3>
        </div>
        <plan-table [dailyInfoes]="dailyInfoes"></plan-table>
        <div class="page-header">
            <h3>时间轴</h3>
        </div>
        <timeline2-chart *ngFor="#daily of dailyInfoes" [daily]="daily" [states]="states"></timeline2-chart>
    </div>
</div>
